<fieldset class="field">
  <a href="#" class="remove_field">remove</a>
  <div class="form-group field">
      <%= f.label :product_id %>
      <%= f.collection_select :product_id, Product.all, :id, :name, 
      {prompt: true}, {class: "form-control"} %>
    </div>
  <div class="form-group field">
    <%= f.label :percent %>
    <%= f.text_field :percent, class: "form-control" %>
  </div>
</fieldset>
