<% provide :title, t(:home_title) %>
<% provide :btn_text, t(".submit") %>

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="h2 text-center"><%= t ".title" %></div>
  </div>
  <div class="margin-left-15 margin-top-15">
    <%= link_to t("admin.back"), admin_categories_path, class:"btn btn-success" %>
  </div>
  <div class="panel-body">
    <%= render "form", category: @category %>
  </div>
</div>
