@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'color';

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

body {
  padding-top: 50px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}
.navbar-brand {
  padding-top: 15px !important;
}
.icon-cart {
  color: white !important;
  display:block;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  &:hover{
    color: black !important;
    .icon-cart-num {
      color: white;
    }
  }
}

.icon-cart-bg {
  background: $dark-blue-sky !important;
  font-size: 24px;
}

.carousel-caption {
  top: 50% !important;
  bottom: auto;
}

.slide-item {
  img{
    width: 100%;
  }
}

.icon-cart-num {
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: bold;
}
.active {
  border-bottom: 1px solid white;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* silder product */

.carousel-control {width:  4%;}
.carousel-control.left,.carousel-control.right {margin-left:15px;background-image:none;}
@media (max-width: 767px) {
  .carousel-inner .active.left {left: -100%;}
  .carousel-inner .next {left:  100%;}
  .carousel-inner .prev {left: -100%;}
  .active > div {display:none;}
  .active > div:first-child {display:block;}
}
@media (min-width: 767px) and (max-width: 992px) {
  .carousel-inner .active.left {left: -50%;}
  .carousel-inner .next {left:  50%;}
  .carousel-inner .prev {left: -50%;}
  .active > div { display:none;}
  .active > div:first-child {display:block;}
  .active > div:first-child + div {display:block;}
}
@media (min-width: 992px ) {
  .carousel-inner .active.left {left: -16.7%;}
  .carousel-inner .next {left:  16.7%;}
  .carousel-inner .prev {left: -16.7%;}	
}

/* thumbnail */

a.thumbnail {
  text-decoration: none;
}

img.img-responsive {
  border: none;
}
.caption {
  .name{ 
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
  }
}

.hot-carousel-control {
  top: 50%;
}
.list-title {
  padding-top: 15px;
  padding-bottom: 15px;
  .h3 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
  }
}

.new-tag {
  font-family: 'Teko', sans-serif;
  font-size: 1.2em;
  top: 10px;
  position: absolute;
  padding: 0 10px;
  background: $light-600;
  color: white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.sale-tag {
  top: 10px;
  position: absolute;
  right: 23px;
  font-family: 'Teko', sans-serif;
  font-size: 1.2em;
}
.sale {
  position: relative;
  display: inline-block;
  background: red;
  color: white;
  height: 2.5rem;
  width: 2.5rem;
  text-align: center;
  vertical-align: middle;
  line-height: 2.5rem;
  transform: rotate(-20deg);
  &:before, &:after {
    content:"";
    position: absolute;
    background: inherit;
    height: inherit;
    width: inherit;
    top: 0;
    left: 0;
    z-index: -1;
    transform: rotate(30deg);
  }
  &:after {
    transform: rotate(60deg);
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.profile {
  background: 0 0;
  color: $white;
  padding: 10px 5px 5px;

  .image {
    width: 85px;
    height: 85px;
    overflow: hidden;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 50%;
  }

  .image_update {
    overflow: hidden;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .name {
    font-size: 13px;
    margin-bottom: 5px;
    color: $color_shark_approx;
    font-weight: 500;
  }

  h6 {
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    color: $color_shark_approx;
    text-transform: uppercase;
  }
}

h1.have-margin {
  margin-bottom: 15px;
  font-size: 19px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  color: $color_shark_approx;
  letter-spacing: 1.5px;
}

.account-profile {
  display: block;
  margin-bottom: 20px;
  width: 100%!important;
  padding: 30px 20px 20px!important;
  background: $white;
  border-radius: 4px;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}
