<% provide :title, t("edit_type_product") %>
<% provide :btn_text, t(".submit") %>

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="h2 text-center"><%= t ".title" %></div>
  </div>
  <div class="panel-body">
    <div class="margin-top-15 margin-left-15">
      <%= link_to t("admin.back"), admin_type_products_path, class:"btn btn-success" %>
    </div>
    <%= render "form", promotion: @promotion %>
  </div>  
</div>
