<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t(:header_logo), root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("header_menu.home"), "#" %></li>
        <li><%= link_to t("header_menu.help"), "#" %></li>
        <li><%= link_to t("header_menu.login"), "#" %></li>
      </ul>
    </nav>
  </div>
</header>
